*,
*:after,
*:before {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }
  blockquote:before, blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input,
textarea,
button,
select {
  font-family: inhert;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none; }

select {
  text-indent: .01px;
  text-overflow: '';
  border: 0;
  border-radius: 0; }

select::-ms-expand {
  display: none; }

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em; }

body {
  font-family: 'Helvetica';
  font-size: 20px; }

.bold {
  font-weight: bold; }

.main-content {
  padding: 16px; }
  .main-content .room-select {
    background: url('data:image/svg+xml;utf8,\a   <svg xmlns="http://www.w3.org/2000/svg" height="44" viewBox="0 0 48 48" width="40">\a     <path d="M14.83 16.42l9.17 9.17 9.17-9.17 2.83 2.83-12 12-12-12z" fill="white"/>\a     <path d="M0-.75h48v48h-48z" fill="none"/>\a   </svg>') no-repeat 98% 0;
    background-color: #3B8EC2;
    color: #FFF;
    height: 44px;
    width: 300px;
    border-radius: 3px; }
    .main-content .room-select select {
      font-family: 'Helvetica';
      background-color: transparent;
      width: 100%;
      padding: 8px;
      font-size: 24px; }
  .main-content .room-container {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap; }
    .main-content .room-container .widget {
      padding: 16px;
      background-color: #DDD;
      border-radius: 3px;
      width: 220px;
      margin: 0 24px 24px 0; }
    .main-content .room-container .temperature .content {
      display: flex; }
      .main-content .room-container .temperature .content .degrees {
        font-size: 80px;
        margin-right: 24px; }
    .main-content .room-container .temperature .temperature-button {
      text-decoration: none;
      color: #FFF;
      display: block;
      width: 30px;
      border-radius: 3px;
      text-align: center;
      padding: 4px; }
      .main-content .room-container .temperature .temperature-button.hot {
        background-color: #C23B4B;
        margin: 8px 0; }
      .main-content .room-container .temperature .temperature-button.cold {
        background-color: #4D99C2; }
      .main-content .room-container .temperature .temperature-button.disable {
        cursor: default;
        background-color: #BBB; }
    .main-content .room-container .curtains .curtain-button {
      text-decoration: none;
      color: #FFF;
      display: inline-block;
      width: 80px;
      border-radius: 3px;
      text-align: center;
      padding: 4px;
      margin-left: 16px; }
      .main-content .room-container .curtains .curtain-button.open {
        background-color: #3BC2B2; }
      .main-content .room-container .curtains .curtain-button.closed {
        background-color: #F08542; }
    .main-content .room-container .lights {
      width: auto;
      min-width: 220px; }
      .main-content .room-container .lights .light {
        margin-top: 8px;
        overflow: auto; }
        .main-content .room-container .lights .light .light-label {
          margin-right: 8px;
          display: inline-block;
          padding-top: 4px; }
        .main-content .room-container .lights .light .light-button {
          text-decoration: none;
          color: #FFF;
          display: inline-block;
          border-radius: 3px;
          text-align: center;
          padding: 4px;
          float: right; }
          .main-content .room-container .lights .light .light-button.on {
            background-color: #FFCC00; }
          .main-content .room-container .lights .light .light-button.off {
            background-color: #333; }
